<style>

.thumbnail {
    border: 0;
    padding: 0;
}
.product img{
    max-width: 300px !important; /* do not stretch the bootstrap column */
}

.shopfront {
    /* padding: 70px 40px; */
}


.img-wrapper{
    /*width: 100%;*/
    /*padding-bottom: 100%;  your aspect ratio here! */
    /*position: relative;*/
}

.img-wrapper img{
/*    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    min-height: 100%; /* optional: if you want the smallest images to fill the .thumbnail */
}

.caption {

}

.section-title u {
    color: red;
}

.products {
    display: inline;
    max-width: 300px;
    left: -15px;
    position: relative;
}

.products .container {
    margin: 0;
    padding: 0;
}

.container
{
  text-align: center;
  padding: 15px;  
}
.left-div
{
  display: inline-block;
  max-width: 300px;
  text-align: left;
  border-radius: 3px;
  vertical-align: top;
}
.right-div
{
  display: inline-block;
  max-width: 300px;
  text-align: left;
  border-radius: 3px;
}
.left-text, .right-text
{
  font: 14px 'Source Code Pro', monospace;
    color: #333;
}
@media screen and (max-width: 600px) 
{
  .left-div, .right-div
    {
       max-width: 100%;
    }
}

</style>

<div class="shopfront">

    <!-- <iframe src="https://player.vimeo.com/video/81085215" width="540" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
    
    <h3>
      No Additives - No Hormones - No Stimulant - No Preservatives
    </h3>
 <!--    <h1>
      100% Natural
    </h1> -->
    <h1 class="green-text">
      100% Certified Zabihah Meat
    </h1>
    <br>

    <a href="http://maps.google.com/?q= Fremont, California USA" target="_blank">
        <img src="<%= asset_path('map.png') %>" class="map" style="max-height: 300px;" alt="">
    </a>

    <section class="intro">
    </section>

    <br>
    
    <% Category.all.order("position ASC").each do |category| %>
        <br>
        <section>
            <h1 class="section-title"><%= category.title.capitalize %></h1>
            <div class="products">
                
                <div class="container">

                    <% category.products.each do |p| %>
                    <div class="left-div left-text">
                        <div class="product">
                            <div class="thumbnail">
                                <div class="img-wrapper">
                                    <a href="/products/<%= p.id %>">
                                        <img src="<%= p.image_url %>" alt="">
                                    </a>
                                </div>
                                <section class="bottom-card">
                                    <h1 class="text-center product-cost">$<%= p.price %></h1>
                                    <h4 class="text-center product-title"><%= p.title.gsub(/\(/, "<br>(").html_safe %></h4>
                                    <small class="text-center" style="display:block;">Minimum <%= p.minimum %></small>
                                    <small class="text-center" style="display:block;"><%= p.group_size %> Per Order</small>
                                </section>
                            </div>
                        </div>
                    </div>
                    <% end %>

                </div>
            </div>
        </section>

    <% end %>

</div>